.Seguir{
    button{
        color: rgb(45, 55, 83);
        background-color: rgb(143, 163, 205);
    } 
} 

.Seguindo{ 
    button{
    color: rgb(38, 75, 75);
    background-color: rgb(139, 218, 218);
}
}