footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  font-size: 125%;
  color: rgb(113, 90, 76);
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #d8b6a0;
}
img {
  width: 05%;
  height: 05%;
}
